<mat-card>
  <div class="wrapper">
    <div class="simple-form">
      <h1 class="mat-headline"> {{user.username}}'s </h1>

      <app-task-list *ngIf="user.tasks.length != 0"
                     [displayedColumns]="['id', 'label', 'description', 'evaluation']"
                     [customDatasource]="user.tasks"
                     [adminMode]="false"></app-task-list>

      <div class="form-panel">
        <a mat-raised-button mat-button (click)="goBack()"
           color="accent">
          Back
        </a>
      </div>
    </div>
  </div>
</mat-card>
