<mat-card>
  <div class="wrapper">
    <div class="simple-form">
      <h1 class="mat-headline form-header"> {{taskId ? 'Edit' : 'Add'}} Task</h1>

      <div class="form-content">

        <div class="form-input-panel">

          <p class="mat-body-1" *ngIf="taskId">
            <span class="column-names"> Id: </span> {{taskId}}
          </p>

          <mat-form-field>
            <input matInput placeholder="label" [formControl]="label">
            <mat-error *ngIf="label.invalid"> {{ getLabelErrorMessage() }} </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="description" [formControl]="description">
            <mat-error *ngIf="label.invalid"> {{ getDescriptionErrorMessage() }} </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="evaluation (in hours)" [formControl]="evaluation">
            <mat-error *ngIf="label.invalid"> {{ getEvaluationErrorMessage() }} </mat-error>
          </mat-form-field>

          <div class="to-bottom-pusher-mini"></div>
          <p class="column-names"> User: </p>

          <mat-radio-group [(ngModel)]="taskOwner">
            <mat-radio-button *ngFor="let user of users" [value]="user"
                              class="mat-radio-button">
              {{user.username}}
            </mat-radio-button>
          </mat-radio-group>

          <div class="to-bottom-pusher-mini"></div>
          <p class="column-names"> Parent: </p>

          <mat-radio-group [(ngModel)]="taskParent">
            <mat-radio-button *ngFor="let task of tasks" [value]="task"
                              class="mat-radio-button" color="primary">
              {{task.label}}
            </mat-radio-button>
          </mat-radio-group>

        </div>

        <div class="to-bottom-pusher-mini"></div>
        <div class="form-panel">
          <button mat-raised-button mat-button color="primary"
                  [disabled]="! label.valid || ! description.valid || ! evaluation.valid || ! taskOwner"
                  (click)="save()">
            Save
          </button>

          <span *ngIf="taskId">
          <button mat-raised-button mat-button (click)="remove(taskId)"> Delete</button>
        </span>

          <a mat-raised-button mat-button (click)="goBack()" class="cancel-form-button"> Cancel </a>
        </div>
      </div>
    </div>
  </div>
</mat-card>
