<mat-card>
  <div class="wrapper">
    <div class="simple-form">
      <h1 class="mat-headline form-header"> {{recipient.username}}'s ratings </h1>

      <div class="form-content">
        <div *ngFor="let rating of ratings">
          <p>
            <span class="column-names"> {{rating.sender.username}}: </span> {{rating.label}}
            <span *ngIf="rating.mark">
              <mat-icon color="accent">filter_{{rating.mark}}</mat-icon>
            </span>

          </p>
        </div>

        <div class="to-bottom-pusher-mini"></div>
        <div class="form-panel">
          <a mat-raised-button mat-button (click)="goBack()" class="center-button">
            Back
          </a>
        </div>
      </div>
    </div>
  </div>
</mat-card>