<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <app-go-home-button></app-go-home-button>

      <span class="to-right-pusher"></span>
      <mat-button-toggle-group>

        <mat-button-toggle (click)="chooseList('role-list')">
          Role list
        </mat-button-toggle>

        <mat-button-toggle (click)="chooseList('user-list')">
          User list
        </mat-button-toggle>

      </mat-button-toggle-group>

    </mat-toolbar>
    <h1 class="main-page-header mat-headline">Admin page</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
