<h1 class="mat-headline">User list</h1>

<mat-button-toggle-group *ngIf="pageNumbers.length > 1" class="pagination-panel">

  <mat-button-toggle *ngFor="let p of pageNumbers; let number = index"
                     (click)="setPage(number)">
    <a>{{number + 1}}</a>
  </mat-button-toggle>

</mat-button-toggle-group>

<mat-form-field class="search-panel">
  <input type="search" (input)="executeSearch()" matInput placeholder="search" [formControl]="filterPattern">
</mat-form-field>

<table mat-table [dataSource]="usersOnPage" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef (click)="setSortColumn('id')" class="tableHeader" >
      <a mat-button color="{{isActiveColor('id')}}"> Id </a>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef (click)="setSortColumn('username')" class="tableHeader">
      <a mat-button color="{{isActiveColor('username')}}"> Username </a>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.username}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


