<app-admin-toolbar (chosenList)="onChooseList($event)"></app-admin-toolbar>

<div class="wrapper">

  <app-role-list *ngIf="chosenListName == 'role-list'"></app-role-list>

  <app-user-list *ngIf="chosenListName == 'user-list'"
                 [displayedColumns]="['id', 'username', 'roles']"
                 [childDialogComponentClassName]="childDialogComponentClassNameForUserList">

  </app-user-list>

  <app-task-list *ngIf="chosenListName == 'task-list'"
                 [displayedColumns]="['id', 'label', 'description', 'evaluation', 'user', 'parent']"
                 [childDialogComponentClassName]="childDialogComponentClassNameForTaskList"
                 [customDatasource]="false">
  </app-task-list>
</div>
