mat-card {
    width: 30%;
    margin: auto;
    padding: 10%;
    font-size: 110%;
    text-align: center;
}

.error-code {
    color: crimson;
    font-weight: bold;
    font-size: 550%;
    font-style: italic;
}

.error-message {
    font-size: 140%;
}