<div class="wrapper">
  <div class="simple-form">
    <mat-card>
      <h1 class="mat-headline form-header">Login</h1>

      <div class="form-content">
        <div class="form-input-panel">
          <div *ngIf="errorMessage" class="field-invalid">
            {{ errorMessage }}
          </div>

          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

            <mat-form-field>
              <input matInput placeholder="login" type="text" name="username"
                     [(ngModel)]="model.username" #username="ngModel" required/>
            </mat-form-field>
            <div>
              <label *ngIf="f.submitted && !username.valid" class="field-invalid">Username is required</label>
            </div>
            <div class="field-invalid-placeholder" *ngIf="!username.invalid"></div>

            <mat-form-field>
              <input matInput placeholder="password" type="password" name="password"
                     [(ngModel)]="model.password" #password="ngModel" required/>
            </mat-form-field>
            <div>
              <label *ngIf="f.submitted && !password.valid" class="field-invalid">Password is required</label>
            </div>
            <div class="field-invalid-placeholder" *ngIf="!password.invalid"></div>

            <button mat-raised-button mat-button [disabled]="loading" color="primary">Login</button>

          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
