<div class="wrapper">
  <div class="simple-form">
    <h1 class="mat-headline form-header" *ngIf="user"> Edit User </h1>

    <div class="form-content">

      <div class="form-input-panel">
        <p class="mat-body-1" *ngIf="user">
          <span class="column-names"> Username: </span> {{user.username}}
        </p>

        <form #userRolesForm="ngForm">
          <p *ngFor="let roleCheckbox of roleCheckboxes">
            <mat-checkbox name="{{roleCheckbox.value}}" color="primary"
                          [(ngModel)]="roleCheckbox.checked">
              {{roleCheckbox.value}}
            </mat-checkbox>
          </p>

        </form>
      </div>
      <div class="form-panel">
        <button mat-raised-button mat-button color="primary" (click)="updateRawRoles(userRolesForm.value)">
          Update Roles
        </button>

        <a mat-raised-button mat-button (click)="goBack()" class="cancel-form-button"> Cancel </a>
      </div>
    </div>
  </div>
</div>
