<div class="wrapper">
  <div class="simple-form">
    <h1 class="mat-headline form-header" *ngIf="user"> Edit User {{user.username}}</h1>

    <div class="form-content">

      <p class="mat-body-1" *ngIf="user">
        Id: {{user.id}}
      </p>

      <mat-form-field>
        <input matInput placeholder="role ids" [formControl]="rawRoles" >
      </mat-form-field>

      <div class="form-panel">
        <button mat-raised-button mat-button (click)="updateRawRoles()"> Update Roles</button>

        <a mat-raised-button mat-button (click)="gotoList()" class="cancel-form-button"> Cancel </a>
      </div>
    </div>
  </div>
</div>
