.wrapper {
    padding: 0;
    width: 80%;
    margin: auto;
    font-size: 120%;
}

h1 {
    text-align: center;
}

table {
    width: 60%;
    margin: auto;
}

mat-paginator {
    margin-top: 3%;
    margin-right: 17%;
}