@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wrapper {
    padding: 0;
    width: 80%;
    margin: auto;
}

.mat-headline {
    padding-left: 60%;
    font-size: 250%;
}

.mat-body-1 {
    font-size: 105%;
}

.button {
    width: 10%;
    font-size: 120%;
}

table {
    width: 60%;
    margin: auto;
}

mat-paginator {
    padding-top: 3%;
    padding-right: 17%;
}

.mat-elevation-z8 {
    margin-bottom: 10%;
}

.table-button {
    width: 100%;
    text-align: left !important;
    font-size: 100%;
}
