<h1 class="mat-headline">Task list</h1>

<div class="mat-elevation-z8">

  <a mat-raised-button mat-button color="primary" *ngIf="adminMode"
     class="add-task-button button" [routerLink]="['new']">Add task</a>

  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">
        <a (click)="goToPersonalTaskDialog(row.id)" mat-button class="table-button">
          <span [class]="allottedIfNeeded(row.id)">
          {{row.label}}
          </span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">
        <span [class]="allottedIfNeeded(row.id)">
          {{row.description}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="evaluation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Evaluation</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">
        <span [class]="allottedIfNeeded(row.id)">
          {{row.evaluation}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">
        <span [class]="allottedIfNeeded(row.id)">
          {{row.user.username}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Part of</th>
      <td mat-cell *matCellDef="let row" class="mat-body-1">
        <span *ngIf="row.parent">
          <a (click)="allotTask(row.parent.id)" mat-button
             class="table-button">{{row.parent.label}}</a>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 15]">
  </mat-paginator>
</div>
