<div class="wrapper">
  <div class="simple-form">
    <mat-card>
      <div class="form-content">
        <div>
          <span class="column-names"> error-code: </span>
          <p>
            <span class="error-code">
              {{errorCode}}
            </span>
          </p>
        </div>

        <div>
          <span class="column-names"> error-message: </span>
          <p>
            <span class="error-message">
              {{errorMessage}}
            </span>
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
