<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-card>
  <h1 class="mat-headline">Task statistics</h1>

  <div class="to-bottom-pusher"></div>
    <div class="paper">

      <mat-icon class="upward-arrow">arrow_upward</mat-icon>
      <div class="graphic">
        <div *ngFor="let user of users" class="graphic-content">
          {{user.username}}
            <span *ngFor="let task of user.tasks">

              <span class="graphic-line">{{task.label}}</span>
            </span>
        </div>
      </div>
      <mat-icon class="forward-arrow">arrow_forward</mat-icon>

    </div>
  <div class="to-bottom-pusher"></div>
</mat-card>
